body.cocktails.show {
background-image: url("show.jpg") ;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-center {
  text-align: center
}
.text {
  font-family: 'Pacifico', cursive;
}
.white {
  color: white;
}
