<h1>New Dose</h1>

<%= render 'form' %>
<!-- How does it know what form im talknig about? Because its in the same folder. If it was in a different folder you would need to specidfy it like you do in the show of the restaurant -->


